<html>
    


        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.css">
        <!-- Utility Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/mervick/emojionearea/master/dist/emojionearea.min.js"></script>

        <textarea id="emojionearea2" >{{msg}}</textarea>

        <form action="{{url_for('sendmail')}}" method="POST">
                
                                                        <!-- <textarea name="msgpost" id="msgpost" cols="50" rows="10">
                                                                    <strong>Your</strong> HTML <em>code</em> goes here.<br>
                                                                    This text will be pre-loaded in the editor when it is rendered.
                                                                </textarea> -->
                                            
                                                                <div class="row">
                                                                        <div class="span6">
                                                                          <textarea id="emojionearea1" name="msgpost">Default :smile:</textarea>
                                                                        </div>
                                                                    
                                                                      </div>
                                                                                               <button type="submit" class="btn btn-primary pull-right">Send</button>


  

<style>
* {
  font-family: Arial, Helvetica, san-serif;
}
.row:after, .row:before {
  content: " ";
  display: table;
  clear: both;
}
.span6 {
  float: left;
  width: 48%;
  padding: 1%;
}
.emojionearea-editor:not(.inline) {
  min-height: 8em!important;
}


</style>
  <script>
  $(document).ready(function() {
	$("#emojionearea1").emojioneArea({
  	pickerPosition: "left",
    tonesStyle: "bullet"
  });


  $("#emojionearea2").emojioneArea({
  	pickerPosition: "bottom",
    tonesStyle: "radio"
  });


});

  
  </script>
  </html>
