<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css')}}">
    <title> Mail Recall</title>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
</head>

<body>
    <div class="header" style="margin-bottom: 10px;">
        <img class="img-title" src="{{ url_for('static', filename='assets/images/logo.png')}}">
        <h1>
            Mailer System
        </h1>
    </div>

    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form action="{{url_for('login')}}" method="post">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="pass" placeholder="Password" required>
            <input type="submit" style="background-color: #e8423e;" name="login" class="login loginmodal-submit" value="Login">
        </form>
    </div>
</body>


{% if message %}
<li>{{ message|safe }}</li>
{% endif %}

</html>